numpy
rouge_score
openai
torch
sentencepiece
tokenizers>=0.13.3
wandb
git+https://github.com/huggingface/accelerate.git
appdirs
loralib
bitsandbytes>=0.39.0
black
black[jupyter]
datasets
fire
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/transformers.git
sentencepiece
gradio
scipy
tqdm
torch
torchvision
torchaudio
